## Connection
# url = "https://example.com:8006/api2/json"
# node = "node-01"

## User account
## ... using username and password
# username = "root"
# password = "supersecret"

## ... alternatively, an api token can be used in place of a password
# token = "<the api token>"