---

name: Deploy

'on':
  push:
    branches:
      - master
    paths:
      - ansible/**
  workflow_dispatch:
  schedule:
    - cron: 0 6 * * *  # every day at 6am


jobs:
  # This is a bit of a hack - ideally deployments would happen using something like AWX, but this mostly works (kind of)
  deploy-prod:
    environment: production
    runs-on: ubuntu-latest
    concurrency:
      group: ansible-deployment-production
      cancel-in-progress: false

    steps:
      - name: Checkout repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Run playbook
        uses: dawidd6/action-ansible-playbook@c97d71562fcba83cc1ea0602d5a77013427f7571 # v2
        with:
          playbook: main.yml
          directory: ./ansible
          key: ${{secrets.RUNNER_SSH_PRIVATE_KEY}}
          inventory: |
            [dockerhosts]
            139.59.190.200 ansible_user=root
          vault_password: ${{secrets.VAULT_PASSWORD}}
          requirements: requirements.yml
          options: |
            --verbose
